.palette {
  position: relative;
  box-sizing: border-box;
}

.tile {
  position: absolute;
  width: 80px;
  height: 80px;

  box-sizing: border-box;
}

.select-tile {
  transform: scale(1.2);
  z-index: 1;
}